UserInterfaceState.xcuserstate
build
*.pbxuser
*.perspectivev3
*.mode1v3
*~
*~.nib
*~.xib 
.DS_Store 
xcuserdata/


India, the second largest smartphone market globally, is expected to witness a mani-fold growth in the number of smartphones to over 650 million in the next four years, a study by networking solutions giant Cisco said today.

The country also considered one of the world's fastest growing Internet market, is expected to see the number of tablets hit more than 18 million by 2019, according to the US-based firm's Visual Networking Index (VNI) global mobile data traffic forecast for 2014 to 2019.


According to the report: "In India, the number of smartphones grew 54 per cent during 2014, reaching 140 million in number and the number of smartphones will grow 4.7-fold between 2014 and 2019, reaching 651 million in number."

The number of tablets grew 1.7-fold during 2014, reaching 2. million in number and is expected to grow 9.2-fold between 2014 and 2019, reaching 18.7 million, it added.

Speaking about the VNI report, Cisco Managing Director Service Provider Sales (India & SAARC) Sanjay Kaul told PTI: "Apart from smart connections driven by the IoE (Internet of Everything), the trend of low-cost smartphones will also bring critical mass to the sector and further drive user growth and data traffic in India."

Cisco's latest VNI Report gives us an insight into the exponential growth of mobile data in India as a result of increasing adoption of smart mobile devices and machine-to-machine (M2M) connections as the IoE takes shape in the country, he added.

"We will see a tremendous increase in mobile video in India, which along with increasing speeds and faster wireless networks will fuel the creation of the data business over the next few years," Kaul said.

Globally, the report forecasts that by 2019 there will be 5.2 billion mobile users (up from 4.3 billion in 2014).

In 2014, nearly 59 per cent of the world's population (7.2 billion people) was comprised of mobile users. By 2019, more than 69 per cent of the world's population (7.6 billion people) will be mobile users, it said.

"In India, there were 590.3 million (47 per cent of India's population) mobile users in 2014, up 18 per cent from 500 million (40 per cent of India's population) in 2013," the VNI report said.

There will be 895.6 million (67 per cent of India's population) mobile users by 2019, up from 590.3 million in 2014, a CAGR of 8.7 per cent, CISCO forecasted.

By 2019, there will be around 11.5 billion mobile-ready devices/connections, including 8.3 billion personal mobile devices and 3.2 billion M2M (machine 2 machine) connections (up from 7.4 billion total mobile-ready devices and M2M connections in 2014), it said.

"The ongoing adoption of more powerful mobile devices and wider deployments of emerging M2M applications, combined with broader access to faster wireless networks, will be key contributors to significant mobile traffic growth in the coming years," Cisco VP Products and Solutions Marketing Doug Webster said.

This mobile-centric environment will give service providers a new landscape of challenges and opportunities to innovatively deliver a variety of mobile services and experiences to consumers and business users as the IoE continues to take shape, he added.